::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #d90f1b 0, #0067a7 100%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #0067a7 0, #d90f1b 100%);
}

::selection {
  background-color: var(--primary);
  color: #fff;
}

* {
  scroll-behavior: smooth;
}