::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #219b86 0, #1a7a6a 100%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1a7a6a 0, #219b86 100%);
}

::selection {
  background-color: var(--primary);
  color: #fff;
}

* {
  scroll-behavior: smooth;
}