:root {
  --primary: #219b86;
  --secondary: #219b86;
  --accent: #959595;
  --light: #fff;
  --dark: #090e16;
  --font-ar: 'Almarai', sans-serif;
  --font-en: 'Inter', sans-serif;
}

body {
  font-family: var(--font-ar);
}

[dir="ltr"] body {
  font-family: var(--font-en);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #219b86 0, #1a7a6a 100%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #1a7a6a 0, #219b86 100%);
}